pre[class*="language-"] {
    position: relative;
    overflow: auto;

    /* make space  */
    margin: 5px 0;
    padding: 1.75rem 0 1.75rem 1rem;
    border-radius: 10px;
}

pre[class*="language-"] button {
    position: absolute;
    top: 5px;
    right: 5px;

    font-size: 1.1rem;
    padding: 0.20rem;
    background-color: #828282;

    border: 1px #eee;
    border-radius: 5px;
}