@import 'responsive-mixin';

.m_screenshot {
    
    &.white {
        background-color: rgb(241, 236, 251);
    }

    > div {
        margin-left: auto;
        margin-right: auto;
        padding: 2rem;
    }
    
    @include for-tablet-landscape-up {

        > div {
            max-width: var(--content-width);
            text-align: center;

            > h2, h4 {
                padding-left: 8rem;
                padding-right: 8rem;
            }
        
            > img {
                width: 80%;
                border: 1px solid rgb(215, 215, 255);
            }
        }
    }
}

.m_features {
    margin-left: auto;
    margin-right: auto;
    max-width: var(--content-width);
    padding: 2rem;

    > h2 {
        text-align: center;
    }
    
    @include for-tablet-landscape-up {
        > div {
            display: grid;
            grid-gap: 0 4em;
            grid-template:  "feat1 feat2"
                            "feat3 feat4"
                            / 1fr 1fr;
        }
    }
}