.hamburger {
  cursor: pointer;

  >div {
    position: relative;
    width: 2em;
    height: 5px;
    border-radius: 1px;
    background-color: black;
    margin-top: 6px;
    margin-bottom: 6px;
    transition: all 0.3s ease-in-out;
  }
}

#toggle:checked+.hamburger .top_bun {
  transform: rotate(-45deg);
}

#toggle:checked+.hamburger .bottom_bun {
  transform: rotate(45deg);
  margin-top: -22px;
}

#toggle:checked+.hamburger .meat {
  transform: rotate(45deg);
  opacity: 0;
}

#toggle:checked~ul {
  display: block;
  position: absolute;
  top: 60px;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  padding: 1em;
  margin: 0;
  z-index: 100;

  >li {
    padding-top: 1em;
    padding-bottom: 1em;
    width: 100%;
    font-weight: 500;
    font-size: 0.875rem;
    border-top: 1px solid var(--accents-5);

    >a {
      font-size: 1.4rem;
    }

    &.sub-menu-item {
      border-top: none;
      padding-top: 0.5em;
      padding-bottom: 0.5em;

      >a {
        font-size: 0.9rem;
        padding-left: 1rem;
      }

      &:last {
        padding-bottom: 1rem;
      }
    }
  }
}