{% macro pricing_hero(
    title="",
    sub_title=""
    )
    %}
<div class="bg-white">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div class="mx-auto max-w-2xl sm:text-center">
        <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">{{title}}</h2>
        <p class="mt-6 text-lg leading-8 text-gray-600">{{sub_title}}</p>
      </div>
</div>
</div>

{% endmacro %}

{% macro pricing_item(
    title="",
    sub_title1="",
    sub_title2="",
    sub_title3="",
    price=""
    )
    %}
<div class="bg-white">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div class="mx-auto mt-16 max-w-2xl rounded-3xl ring-1 ring-gray-200 sm:mt-20 lg:mx-0 lg:flex lg:max-w-none">
        <div class="p-8 sm:p-10 lg:flex-auto">
          <h3 class="text-2xl font-bold tracking-tight text-gray-900">{{title}}</h3>
          <p class="mt-6 text-base leading-7 text-gray-600">{{sub_title1}}</p>
          <div class="mt-10 flex items-center gap-x-4">
            <h4 class="flex-none text-sm font-semibold leading-6 text-indigo-600">What’s included</h4>
            <div class="h-px flex-auto bg-gray-100"></div>
          </div>
        </div>
        <div class="-mt-2 p-2 lg:mt-0 lg:w-full lg:max-w-md lg:flex-shrink-0">
          <div class="rounded-2xl bg-gray-50 py-10 text-center ring-1 ring-inset ring-gray-900/5 lg:flex lg:flex-col lg:justify-center lg:py-16">
            <div class="mx-auto max-w-xs px-8">
              <p class="text-base font-semibold text-gray-600">{{sub_title1}}</p>
              <p class="mt-6 flex items-baseline justify-center gap-x-2">
                <span class="text-5xl font-bold tracking-tight text-gray-900">{{price}}</span>
              </p>
              <p class="mt-6 text-xs leading-5 text-gray-600">{{sub_title1}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% endmacro %}