<div class="bg-base-100 text-base-content rounded-box shadow lg:flex justify-between">
  
    <div class="border-base-content gap-x-4 border-opacity-10 px-6 py-4">
      <div class="text-base-content/6">{{ title1 }}</div>
      <div class="text-4xl font-extrabold">{{ data1 }}</div>
      <div class="text-base-content/60 text-xs">{{ description1 }}</div>
    </div>
    
    <div class="border-base-content gap-x-4 border-opacity-10 px-6 py-4">
      <div class="text-base-content/6">{{ title2 }}</div>
      <div class="text-4xl font-extrabold">{{ data2 }}</div>
      <div class="text-base-content/60 text-xs">{{ description2 }}</div>
    </div>
    
    <div class="border-base-content gap-x-4 border-opacity-10 px-6 py-4">
      <div class="text-base-content/6">{{ title3 }}</div>
      <div class="text-4xl font-extrabold">{{ data3 }}</div>
      <div class="text-base-content/60 text-xs">{{ description3 }}</div>
    </div>
    
  </div>