{%- import 'macros/head.html' as macros_head -%}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% block seo %}
  {% if config.extra.title_separator %}
    {% set title_separator = " " ~ config.extra.title_separator ~ " " %}
  {% else %}
    {% set title_separator = " | " %}
  {% endif %}
  {% endblock seo %}
  
  <link rel="stylesheet" 
  href="/navbar.css?h={{get_hash(path="public/navbar.css", sha_type=256)}}">
  <link rel="stylesheet" 
    href="/tailwind.css?h={{get_hash(path="tailwind.css", sha_type=256)}}">
  <link rel="stylesheet" 
    href="/syntax-theme.css?h={{get_hash(path="syntax-theme.css", sha_type=256)}}">
    
  {% if config.extra.goat_counter %}
  <script async 
    src="/goat-counter.js?h={{get_hash(path="goat-counter.js", sha_type=256)}}"></script>
  {% endif %}

  <script async 
    src="/theme-switcher.js?h={{get_hash(path="theme-switcher.js", sha_type=256)}}"></script>

  <link rel="icon" type="image/svg+xml" href="/favicon.svg">

  {% if config.extra.ga_analytics and config.extra.localhost and config.base_url != config.extra.localhost %}
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id={{ config.extra.ga_analytics}}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', '{{ config.extra.ga_analytics}}');
  </script>
  {% endif %}
</head>

{% if config.extra.authentication_development and config.extra.localhost and config.base_url == config.extra.localhost %}
  {% set sign_up_url = config.extra.authentication_development.sign_up %}
  {% set sign_in_url = config.extra.authentication_development.sign_in %}
{% endif %}

{% if config.extra.authentication and config.extra.localhost and config.base_url != config.extra.localhost %}
  {% set sign_up_url = config.extra.authentication.sign_up %}
  {% set sign_in_url = config.extra.authentication.sign_in %}
{% endif %}

<!-- https://www.goatcounter.com/ -->
{% if config.extra.goat_counter and config.extra.localhost and config.base_url != config.extra.localhost %}
<body class="l_marketing" data-goatcounter="{{ config.extra.goat_counter}}">
{% else %}
<body class="l_marketing">
{% endif %}

  {% include "navigation.html" %}

  <div class="lg:mt-12">
      {% block content %} {% endblock %}
  </div>

  {% include "footer.html" %}

</body>
</html>
