{% extends "base.html" %}
{% block class %} blog {% endblock %}

{% block extra_head %}
<meta property="og:type" content="article" />
<meta property="og:title" content="{{ page.title }}" />
{% if page.extra.description %}
<meta property="og:description" content="{{page.extra.description}}" />
{% endif %}
{% if page.extra.main_image %}
{% set main_image = resize_image(path=page.extra.main_image, width=768, height=487, op="fill") %}
<meta property="og:image" content="{{ main_image.url }}" />
{% endif %}
{% endblock extra_head %}

{% block content %}
<section class="markdown-body blog-content">
  <div>
    <h1 class="title pt-6">
      {{ page.title }}
    </h1>
    {% if page.extra.subtitle %}
    <h2 class="subtitle">{{ page.extra.subtitle }}</h2>
    {% endif %}

    {% if page.extra.author_image %}
    {% set image = resize_image(path=page.extra.author_image, width=44, height=44, op="fill") %}
    <div class="d-flex flex-row mb-4">
      <img width="44" height="44" src="{{ image.url }}" />
      <div class="d-flex flex-column pl-2">
        <span>{{ page.extra.author }}</span>
        <small>{{ page.date | date(format="%b %d") }}</small>
      </div>
    </div>
    {% endif %}

    {% if page.extra.main_image %}
    {% set main_image = resize_image(path=page.extra.main_image, width=768, height=487, op="fill") %}
    <img width="768" height="487" src="{{ main_image.url }}" />
    {% endif %}

    <article class="prose">
      {{ page.content | safe }}
    </article>
  </div>
</section>

{% if config.extra.footer_cta %}
<section class="color-bg-subtle d-flex flex-content-center flex-column pb-8 pt-8 mt-8 text-center">
  <h3 class="mb-3">{{config.extra.every_page_cta.title}}</h3>
  {% if config.extra.every_page_cta.cta_url %}
  <p><a class="btn-mktg"
      href="{{config.extra.every_page_cta.cta_url}}">{{config.extra.every_page_cta.cta_button}}</a></p>
  {% else %}
  <p><a class="btn-mktg" href="{{sign_up_url}}">{{config.extra.every_page_cta.cta_button}}</a></p>
  {% endif %}
</section>
{% endif %}
{% endblock content %}