{% extends "base.html" %}
{% block class %} blog {% endblock %}

{% block seo %}
  {{ super() }}

  {% set title = 'The Company Blog' %}
  {% set description = 'Our thoughts and opinions' %}
  
  {{ macros_head::seo(
    title=title, 
    description=description
  ) }}
{% endblock seo %}

{% block content %}
<section class="lg:max-w-5xl mx-auto">
  <h1>{{ config.extra.blog_title | default(value='The Blog') }}</h1>
  <h2>{{ config.extra.blog_subtitle | default(value='Ideas, Updates and Inspiration') }}</h2>
</section>
<section class="lg:max-w-5xl mx-auto">
  <div>
    <div class="grid grid-cols-2 gap-4">
      {% for page in section.pages %}
      {% if page.extra.listing_image %}
      <div>
        <div>
          {% set image = resize_image(path=page.extra.listing_image, width=198, height=198, op="fill") %}
          <img src="{{ image.url }}" />
          <div>
            <h3>{{ page.title }}</h3>
            <p class="subtitle"><strong>{{ page.date }}</strong></p>
            <p><a href="{{ page.path | safe }}">Read More...</a></p>
          </div>
        </div>
      </div>
      {% else %}
      <div>
        <h3>{{ page.title }}</h3>
        <p class="subtitle"><strong>{{ page.date }}</strong></p>
        <p><a href="{{ page.path | safe }}">Read More...</a></p>
      </div>
      {% endif %}
      {% endfor %}
    </div>
  </div>
</section>

{% include "extra_footer.html" %}

{% endblock content %}