{% extends "base.html" %}
{% block class %} blog {% endblock %}

{% block content %}
<section class="l_blog">
  <div>
    <h1 class="title">
      {{ page.title }}
    </h1>
    {% if page.extra.subtitle %}
    <h2 class="subtitle">{{ page.extra.subtitle }}</h2>
    {% endif %}
    <article class="prose">
      {{ page.content | safe }}
    </article>
  </div>
</section>

{% if config.extra.footer_cta %}
<section class="m_footer_cta">
  <h3>{{config.extra.every_page_cta.title}}</h3>

  {% if config.extra.every_page_cta.cta_url  %}
  <p><a class="a_button a_button--primary" href="{{config.extra.every_page_cta.cta_url}}">{{config.extra.every_page_cta.cta_button}}</a></p>
  {% else %}
  <p><a class="a_button a_button--primary" href="{{sign_up_url}}">{{config.extra.every_page_cta.cta_button}}</a></p>
  {% endif %}
</section>
{% endif %}
{% endblock content %}