{%- import 'macros/cta.html' as macros_cta -%}

{% extends "base.html" %}
{% block class %} blog {% endblock %}

{% block seo %}
{{ super() }}

{% if page.extra.main_image %}
{% set main_image = resize_image(path=page.extra.main_image, width=768, height=487, op="fill") %}
{% set main_image = main_image.url %}
{% else %}
{% set main_image = '' %}
{% endif %}

{% if page.description %}
{% set description = page.description %}
{% else %}
{% set description = '' %}
{% endif %}

{{ macros_head::seo(
title=page.title,
type='article',
description=description,
main_image_url=main_image
) }}
{% endblock seo %}

{% block content %}

  <article class="mx-auto prose lg:prose-xl">
    <h1>
      {{ page.title }}
    </h1>

    {% if page.extra.author_image %}
    {% set image = resize_image(path=page.extra.author_image, width=44, height=44, op="fill") %}
    <div class="not-prose flex flex-row mt-8 mb-4">
      <img width="44" height="44" src="{{ image.url }}" />
      <div class="not-prose flex flex-col pl-2">
        <strong class="text-base">{{ page.extra.author }}</strong>
        <small class="text-base">{{ page.date | date(format="%b %d") }}</small>
      </div>
    </div>
    {% endif %}

    {% include "social-sharing.html" %}

    {% if page.extra.main_image %}
    {% set main_image = resize_image(path=page.extra.main_image, width=768, height=487, op="fill") %}
    <img class="mb-8" width="768" height="487" src="{{ main_image.url }}" />
    {% endif %}
    {{ page.content | safe }}
  </article>
{% include "extra_footer.html" %}

{% endblock content %}