{% extends "base.html" %}
{% block class %} blog {% endblock %}

{% block content %}
  <section class="blog_hero">
    <img src="/blog-background.jpeg" />
  </section>
  <section class="l_blog featured">
    <div>
      <h2>
        Featured Posts
      </h2>
      <div class="cards">
        {% for page in section.pages %}
        <div class="summary">
          <h2>{{ page.title }}</h2>
          <p class="subtitle"><strong>{{ page.date }}</strong></p>
          <p><a href="{{ page.path | safe }}">Read More...</a></p>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>

  {% if config.extra.footer_cta %}
  <section class="m_footer_cta">
    <h3>{{config.extra.every_page_cta.title}}</h3>
    <p><a class="a_button a_button--primary" href="{{config.extra.every_page_cta.cta_url}}">{{config.extra.every_page_cta.cta_button}}</a></p>
  </section>
  {% endif %}
{% endblock content %}