{% extends "base.html" %}
{% block class %} documentation {% endblock %}

{% block content %}
{% set current_section = "docs" %}
<section class="l_documentation prose">
  <div>
    <aside>
    
	{% set index_path = current_section ~ "/_index.md" | trim_start_matches(pat="/") %}
	{% set index = get_section(path=index_path) %}
	{% if index.pages %}
		<h1>{{ index.title }}</h1>
		<ul >
		{% for page in index.pages %}                           
				<li><a href="{{ page.path | safe }}">{{ page.title }}</a></li>
		{% endfor %}
		</ul>
	{% endif %}
	{% if index.subsections %}
			{% for s in index.subsections %}
			{% set subsection = get_section(path=s) %}
			{% if subsection.pages %}
			<h1>{{ subsection.title }}</h1>
			<ul >
			{% for page in subsection.pages %}                           
					<li><a href="{{ page.path | safe }}">{{ page.title }}</a></li>
			{% endfor %}
			</ul>
			{% endif %}
			{% endfor %}
	{% endif %}
	</aside>
    
    <main>
      <div>
        <h1 class="title">
          {{ page.title }}
        </h1>
        {{ page.content | safe }}
      </div>
    </main>
  </div>
</section>
{% endblock content %}