{% extends "base.html" %}
{% block class %} documentation {% endblock %}

{% block content %}
<section class="l_documentation prose">
  <div>
    {% set intro_page = get_page(path="documentation/introduction.md") %}
    <aside>
      <h1>Getting Started</h1>
      <ul>
        {% for page in section.pages %}
        <li><a href="{{ page.path | safe }}">{{ page.title }}</a></li>
        {% endfor %}
      </ul>


      {% if config.extra.doc_sections  %}
      {% for resource in config.extra.doc_sections %}
      <h1>{{ resource.name }}</h1>
      <ul>
        {% set path = resource.location ~ "/_index.md" %}
        {% set reference_section = get_section(path=path) %}
        {% for page in reference_section.pages %}
        <li><a href="{{ page.path | safe }}">{{ page.title }}</a></li>
        {% endfor %}
      </ul>
      {% endfor %}
      {% endif %}
      
    </aside>
    <main>
      <div>
        <h1 class="title">
          {{ intro_page.title }}
        </h1>
        {{ intro_page.content | safe }}
      </div>
    </main>
  </div>
</section>
{% endblock content %}