<header>
    <div class="m_navbar {% block class %}{% endblock %}">
        <nav class="flex flex-row justify-between p-4 border-b">
            <input id="toggle" type="checkbox" />
            <label class="hamburger" for="toggle">
                <div class="top_bun"></div>
                <div class="meat"></div>
                <div class="bottom_bun"></div>
            </label><a href="/"><span>{{ config.title }}</span></a>
            <ul>
                {% if config.extra.menu_items %}
                {% for resource in config.extra.menu_items %}
                <li><a class="menu-item" href="{{ resource.url }}">{{ resource.name }}</a></li>
                {% endfor %}
                {% endif %}

                <li><a class="menu-item"
                        href="{{ config.extra.first_doc_page | default(value='/docs') | safe }}">Documentation</a></li>

                <!-- {{ config.base_url}} -->
                {% if sign_up_url %}
                <li><a class="btn" href="{{ sign_up_url }}">Sign Up</a></li>
                <li><a class="menu-item" href="{{ sign_in_url }}">Sign In</a></li>
                {% endif %}
            </ul>
        </nav>
    </div>
</header>