{%- import 'macros/pricing.html' as macros_pricing -%}
{%- import 'macros/cta.html' as macros_cta -%}

{% extends "base.html" %}

{% block seo %}
  {{ super() }}

  {% set title = 'The pricing page' %}
  {% set description = 'Show how much we charge' %}
  
  {{ macros_head::seo(
    title=title, 
    description=description
  ) }}
{% endblock seo %}

{% block content %}

<div class="flex flex-col items-center">

  {{ macros_pricing::pricing_hero(
    title='Simple no-tricks pricing', 
    sub_title="Do it yourself or let us help, it's your choice."
  ) }}

  {{ macros_pricing::pricing_item(
    title='Self Managed', 
    sub_title1="Do it yourself or let us help, it's your choice.",
    sub_title2="Pay once, own it forever",
    sub_title3="Invoices and receipts available for easy company reimbursement"
  ) }}

  {{ macros_pricing::pricing_item(
    title='Support Contract', 
    sub_title1="Do it yourself or let us help, it's your choice.",
    sub_title2="Pay once, own it forever",
    sub_title3="Invoices and receipts available for easy company reimbursement"
  ) }}

  {{ macros_pricing::pricing_item(
    title='Consulting', 
    sub_title1="Do it yourself or let us help, it's your choice.",
    sub_title2="Pay once, own it forever",
    sub_title3="Invoices and receipts available for easy company reimbursement"
  ) }}
</div>


{% include "extra_footer.html" %}

{% endblock content %}