<div class="not-prose flex justify-between items-center border-t border-b mb-4">
    <small class="not-prose">Share</small>

    <div class="not-prose flex flex-row gap-1">
        <a href="https://twitter.com/intent/tweet?url={{ page.permalink }}" 
            target="_blank"><img width="16" height="16" src="/social-sharing/x-twitter.svg" /></a>
    
        <a href="https://www.linkedin.com/sharing/share-offsite/?url={{ page.permalink }}" 
            target="_blank"><img width="16" height="16" src="/social-sharing/linkedin.svg" /></a>
    </div>
</div>