<div class="flex justify-between border-t border-b pt-2 pb-2 mb-4">
    <span>Share</span>

    <div class="flex flex-row gap-1">
        <a href="https://twitter.com/intent/tweet?url={{ page.permalink }}" 
            target="_blank"><img width="16" height="16" src="/social-sharing/x-twitter.svg" /></a>
    
        <a href="https://www.linkedin.com/sharing/share-offsite/?url={{ page.permalink }}" 
            target="_blank"><img width="16" height="16" src="/social-sharing/linkedin.svg" /></a>
    </div>
</div>